In [1]:
import pandas as pd
weather_data = {
    'day':['1/1/2024','1/2/2024','1/3/2024','1/4/2024','1/5/2024','1/6 /2024'],
    'temperature':[32,35,28,24,32,31],
    'windspeed':[6,7,2,7,4,2],
    'event':['Rain','Sunny','Snow','Snow','Rain','Sunny']
}
df = pd.DataFrame(weather_data)
df

         day  temperature  windspeed  event
0   1/1/2024           32          6   Rain
1   1/2/2024           35          7  Sunny
2   1/3/2024           28          2   Snow
3   1/4/2024           24          7   Snow
4   1/5/2024           32          4   Rain
5  1/6 /2024           31          2  Sunny

In [4]:
df.windspeed

0    6
1    7
2    2
3    7
4    4
5    2
Name: windspeed, dtype: int64

In [5]:
df.shape

(6, 4)

In [6]:
rows,columns =df.shape

In [7]:
rows

6

In [9]:
columns

4

In [11]:
df.head()

        day  temperature  windspeed  event
0  1/1/2024           32          6   Rain
1  1/2/2024           35          7  Sunny
2  1/3/2024           28          2   Snow
3  1/4/2024           24          7   Snow
4  1/5/2024           32          4   Rain

In [12]:
df.tail()

         day  temperature  windspeed  event
1   1/2/2024           35          7  Sunny
2   1/3/2024           28          2   Snow
3   1/4/2024           24          7   Snow
4   1/5/2024           32          4   Rain
5  1/6 /2024           31          2  Sunny

In [13]:
df.tail(3)

         day  temperature  windspeed  event
3   1/4/2024           24          7   Snow
4   1/5/2024           32          4   Rain
5  1/6 /2024           31          2  Sunny

In [16]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2024           28          2  Snow
3  1/4/2024           24          7  Snow
4  1/5/2024           32          4  Rain

In [17]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [19]:
df["event"]

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [20]:
type(df["event"])

pandas.core.series.Series

In [28]:
df

         day  temperature  windspeed  event
0   1/1/2024           32          6   Rain
1   1/2/2024           35          7  Sunny
2   1/3/2024           28          2   Snow
3   1/4/2024           24          7   Snow
4   1/5/2024           32          4   Rain
5  1/6 /2024           31          2  Sunny

In [29]:
df['temperature'].max()

35

In [30]:
df['temperature'].min()

24

In [31]:
df['temperature'].mean()

30.333333333333332

In [32]:
 df['temperature'].std()

3.8297084310253524

In [33]:
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [34]:
df[df.temperature >=32]

        day  temperature  windspeed  event
0  1/1/2024           32          6   Rain
1  1/2/2024           35          7  Sunny
4  1/5/2024           32          4   Rain

In [35]:
 df[df.temperature==df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2024           35          7  Sunny

In [37]:
df[df.temperature==df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2024           35          7  Sunny

In [41]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

        day  temperature
1  1/2/2024           35

In [42]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [43]:
df.set_index("day")

           temperature  windspeed  event
day
1/1/2024            32          6   Rain
1/2/2024            35          7  Sunny
1/3/2024            28          2   Snow
1/4/2024            24          7   Snow
1/5/2024            32          4   Rain
1/6 /2024           31          2  Sunny

In [44]:
df

         day  temperature  windspeed  event
0   1/1/2024           32          6   Rain
1   1/2/2024           35          7  Sunny
2   1/3/2024           28          2   Snow
3   1/4/2024           24          7   Snow
4   1/5/2024           32          4   Rain
5  1/6 /2024           31          2  Sunny

In [45]:
df.set_index("day", inplace=True)

In [46]:
df

           temperature  windspeed  event
day
1/1/2024            32          6   Rain
1/2/2024            35          7  Sunny
1/3/2024            28          2   Snow
1/4/2024            24          7   Snow
1/5/2024            32          4   Rain
1/6 /2024           31          2  Sunny

In [47]:
df.loc['1/3/2024']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2024, dtype: object

In [48]:
df.reset_index(inplace=True) 
df

         day  temperature  windspeed  event
0   1/1/2024           32          6   Rain
1   1/2/2024           35          7  Sunny
2   1/3/2024           28          2   Snow
3   1/4/2024           24          7   Snow
4   1/5/2024           32          4   Rain
5  1/6 /2024           31          2  Sunny

In [50]:
df.set_index('event',inplace=True)
df

             day  temperature  windspeed
event
Rain    1/1/2024           32          6
Sunny   1/2/2024           35          7
Snow    1/3/2024           28          2
Snow    1/4/2024           24          7
Rain    1/5/2024           32          4
Sunny  1/6 /2024           31          2

In [51]:
df.loc['Snow']

            day  temperature  windspeed
event
Snow   1/3/2024           28          2
Snow   1/4/2024           24          7